<div class="account">
  <div class="account-card">
    <button type="button" class="btn btn-lg btn-secondary m-3">
      臺幣帳戶 <span><i class="fa-solid fa-eye"></i></span>
    </button>
    <button type="button" class="btn btn-lg btn-secondary m-3">
      外幣帳戶 <span><i class="fa-solid fa-eye-slash"></i></span>
    </button>
    <button type="button" class="btn btn-lg btn-secondary m-3">
      數位帳戶 <span><i class="fa-solid fa-eye-slash"></i></span>
    </button>
    <div class="text-box">
      <h3 class="h3 h3_text">臺幣資產總額:</h3>
      <i class="fa-solid fa-eye"></i>
    </div>
    <p class="h1 pt-5 account-amount" align="right">$24,055</p>
  </div>
  <div class="">
    <img src="assets/image/Group 58.png" alt="" />
  </div>
</div>
<div class="account">
  <div class="detail-box container d-flex justify-content-around">
    <div class="row">
      <div class="detail-box-left mt-3 ml-2">
        <div class="detail-box-left-text d-flex">
          <P class="m-auto">免費跨轉剩餘次數 :3 &nbsp;&nbsp;&nbsp;</P>
          <P class="m-auto">免費跨提剩餘次數 :5</P>
          <div class="detail-box-button ml-5 ">
            <div class="detail-box-button-text gree">
              <p>14天</p>
            </div>
            <div class="detail-box-button-text ">
              <p>30天</p>
            </div>
          </div>
        </div>
        <div class="detail-box-left-text d-flex">
          <P >日期</P>
          <P class="ml-4">摘要 / 金額</P>
        </div>
        <div class="">
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-right">
      <img src="assets/image/Chart 2.png" alt="">
    </div>
  </div>
</div>
