/* *{
  outline:1px solid rgb(100, 100, 100);
} */
.account {
  display: flex;
  justify-content: space-between;
  background-color: #00994e;
  padding: 2% 10%;
  /* flex-direction: column; */
}
.btn-secondary {
  color: #00994e;
  text-shadow: none;
  background-color: #fff;
  border: 0.05rem solid #fff;
}
.noShow {
  display: none;
}

.show {
  display: block;
}

.text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.h3_text {
  color: #fff;
}
.account-amount {
  color: #fff;
}

/* 白色框 */
.detail-box {
  /* height: 55vh; */
  background: #ffffff;
  border: 5px solid #ffc107;
  border-radius: 25px 0px;
}

.detail-box-button {
  background: rgba(216, 219, 221, 0.4);
  height: 38px;
  width: 154px;
  border-radius: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(216, 219, 221, 0.4);
}

.detail-box-button-text {
  height: 36px;
  width: 93px;
  border-radius: 32px;
  color: #929DA9;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
}

.greenClass{
  background: #25d482;
  color: #ffffff;
  cursor: pointer;
}
.detail-box-button-text:hover{
  background: #25d482;
  color: #ffffff;
}
.line{
  width: 2px;
  background-color: rgba(216, 219, 221, 0.4);
  margin: 30px 0;
}
.ul-box{
  list-style:none;
  margin:10px auto;
  padding: 0 80px;
}

 .red{
  width: 10px;
  height: 10px;
  background-color:#F78EBD;
  margin: auto 0;
 }
 .blue{
  width: 10px;
  height: 10px;
  background-color:#9197F2;
  margin: auto 0;
 }
 .yellow{
  width: 10px;
  height: 10px;
  background-color:#FEC133;
  margin: auto 0;
 }
 .green{
  width: 10px;
  height: 10px;
  background-color: #8EFB99;
  margin: auto 0;
 }







 .button-area {
  position: relative;
}

.days-button {
  border-radius: 20px 0  0 20px;
  width: 100px;
  height: 30px;
  border: none;
  /* line-height: 30px; */
}

.days-button:last-child {
  border-radius: 0 20px 20px 0;
}

.control-button {
  width: 100px;
  height: 30px;
  background-color: #25D482;
  border-radius: 20px;
  position: absolute;
  line-height: 30px;
  color: white;
}

.btnToRight {
  right: 0;
}
