<div class="account">
  <div class="account-card">
    <button type="button" class="btn btn-lg btn-secondary m-3" (click)="show = !show;noShow=!noShow">
      臺幣帳戶 <span  [ngClass]="{ 'noShow': !show }"><i class="fa-solid fa-eye-slash"></i></span>
      <span  [ngClass]="{ 'noShow': !noShow }"><i class="fa-solid fa-eye"></i></span>
    </button>
    <button type="button" class="btn btn-lg btn-secondary m-3">
      外幣帳戶 <span><i class="fa-solid fa-eye-slash"></i></span>
    </button>
    <button type="button" class="btn btn-lg btn-secondary m-3">
      數位帳戶 <span><i class="fa-solid fa-eye-slash"></i></span>
    </button>
    <div class="text-box">
      <h3 class="h3 h3_text">臺幣資產總額:</h3>
      <span  [ngClass]="{ 'noShow': !show }"><i class="fa-solid fa-eye-slash"></i></span>
      <span  [ngClass]="{ 'noShow': !noShow }"><i class="fa-solid fa-eye"></i></span>
    </div>
    <p class="h1 pt-5 account-amount" align="right" [ngClass]="{ 'noShow': !noShow }">$24,055</p>
  </div>
  <div class="">
    <img src="assets/image/Group 58.png" alt="" />
  </div>
</div>
<div class="account">
  <div class="detail-box container d-flex justify-content-around">
    <div class="row">
      <div class="detail-box-left mt-3 ml-2">
        <div class="detail-box-left-text d-flex">
          <P class="m-auto">免費跨轉剩餘次數 :3 &nbsp;&nbsp;&nbsp;</P>
          <P class="m-auto">免費跨提剩餘次數 :5</P>
          <!-- <div class="detail-box-button ml-5 ">
            <div class="detail-box-button-text">
              <p>14天</p>
              (click)="green=!green" [ngClass]="green ? 'detail-box-button-text' : 'detail-box-button-text-green'"
            </div>
            <div  class="detail-box-button-text-r">
              <p>30天</p>
            </div>
            <div class="detail-box-button-text-green">{{30}}</div>
          </div> -->
          <div class="detail-box-button ml-5 ">
            <div class="detail-box-button-text gree">
              <p>14天</p>
            </div>
            <div class="detail-box-button-text ">
              <p>30天</p>
            </div>
          </div>

          <div class="button-area text-right ml-4">
            <div class="control-button px-3 text-center" [class.btnToRight]="transform">{{'近'+days+'天'}}</div>
            <button class="days-button px-3" style="background-color: #e7e5e5" (click)="filterData($event)">近<span>14</span>天</button>
            <button class="days-button px-3" style="background-color: #e7e5e5" (click)="filterData($event)">近<span>30</span>天</button>
          </div>


        </div>
        <div class="detail-box-left-text d-flex">
          <P >日期</P>
          <P class="ml-4">摘要 / 金額</P>
        </div>
        <div class="">
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-right">
      <img src="assets/image/Chart 2.png" alt="">
      <ul class="ul-box ">
        <li class="d-flex li-box "><div class="red "></div>近14天收支</li>
        <li class="d-flex li-box"><div class="blue"></div>近14天轉入金額</li>
        <li class="d-flex li-box"><div class="yellow"></div>近14天轉出金額</li>
        <li class="d-flex li-box"><div class="green"></div>近14天利息</li>
      </ul>
    </div>
  </div>
</div>
