<div class="background pt-4 pb-4">
  <nav class="nav justify-content-end">
    <a class="nav-link col" href="#">logo</a>
    <a class="nav-link " href="#">台幣存匯/轉帳</a>
    <a class="nav-link " href="#">外幣存匯</a>
    <a class="nav-link " href="#">信用卡</a>
    <a class="nav-link " href="#">繳費繳稅</a>
    <a class="nav-link " href="#">基金信託</a>
    <a class="nav-link " href="#">智能投資</a>
    <a class="nav-link " href="#">證期投資</a>
    <a class="nav-link " href="#">申請設定</a>
    <img src="assets/image/Group 8.svg" class="mr-4"/>
  </nav>
</div>
